@model IEnumerable<CmsShoppingCart.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}

<h2 class="display-4">Orders</h2>

@if (!Model.Any())
{
    <h3 class="text-center">There are no orders</h3>
}
else
{
    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    Order Details
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completed)
                </th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>


                    <td>
                        @foreach (var item2 in item.ProductsAndQty)
                        {
                            @item2.Key @:x @item2.Value <br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Completed)*@
                        @if (item.Completed)
                        {
                            <div class="text-success">Successful.</div>
                        }
                        else
                        {
                            <div class="text-danger">Failed.</div>
                        }
                    </td>
                </tr>
            }

    </table>
}