@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Products";
}

@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2 class="display-4">Products</h2>
<br />

<select id="SelectCategory" name="SelectCategory" class="form-control col-sm-3">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br />
@*<br />*@

<p>
    @Html.ActionLink("Add New Product", "AddProduct", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var product in ViewBag.OnePageOfProducts)
        {
            @*<li>@product.Name</li>*@
            <tr>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Description
                </td>
                <td>
                    $@product.Price
                </td>
                <td>
                    <a href="~/admin/shop/EditProduct/@product.Id">
                        <img src="~/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" />
                    </a>

                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new { @class = "delete btn btn-danger btn-sm" })
                </td>
            </tr>
        }



</table>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))

@section Scripts{
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>*@



    <script>

$(function () {

    /*
     * Select Products from specified category
    */
    $("#SelectCategory").on("change", function () {
        var prodtype = $(this).val();

        if (prodtype) {
            //console.log('Location = ' + window.location);
            //console.log('Location Pathname = ' + window.location.pathname);
            //window.location = "/admin/shop/Products?catId=" + prodtype;
            window.location = "?catId=" + prodtype;
        }

        return false;
    });

    /////////////////////////////////////////////////////////////


    /*
    * Confirm product deletion
    */
    $("a.delete").click(function () {
        if (!confirm("Confirm product deletion")) return false;
    });

    /////////////////////////////////////////////////////////////



});

    </script>

}