@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2 class="display-4">Pages</h2>
<br />

<p>
    @Html.ActionLink("Add New Page", "AddPage", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <h1 class="text-center">There are no pages.</h1>
}
else
{
    <table class="table sorting" id="pages">
        <thead class="thead-light">
            <tr class="home">
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sorting)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.HasSidebar)
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in Model)
    {
        <tr id="id_@item.Id" class="@item.Slug">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sorting)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPage", new { id = item.Id }, new { @class = "btn btn-success btn-sm" }) 
                @Html.ActionLink("Details", "PageDetails", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                @if (item.Slug != "home")
                {
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete btn btn-danger btn-sm"})
                }
            </td>
        </tr>
    }

    </table>
}

@section Scripts{
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



<script>

$(function () {

    /*
     * Confirm page deletion
    */
    $("a.delete").click(function () {
        if (!confirm("Confirm page deletion")) return false;
    });
    /////////////////////////////////////////////////////////////

    /*
     * Reorder pages
    */
    $("table#pages tbody").sortable({
        items: "tr:not(.home)",
        placeholder: "ui-state-highlight",
        update: function () {
            var ids = $("table#pages tbody").sortable("serialize");
            //var url = "~/Admin/Pages/ReorderPages";
            var url = "@(Url.Action("ReorderPages", "Pages"))";

            $.post(url, ids, function (data) {
            });
        }
    });
    /////////////////////////////////////////////////////////////



});

</script>

}